:root {
  /* colors */
  --color-yellow: rgb(221, 181, 55);
  --color-black-1: rgb(23, 23, 23);
  --color-black-2: rgb(9, 9, 9);
  --color-silver: rgb(170, 170, 170);
  --color-red: rgb(255, 0, 77);
  --light-gray: rgb(204, 204, 204);
  --platinum: rgb(229, 229, 229);
  --black_50: rgba(0, 0, 0, 0.5);
  --black_30: rgba(0, 0, 0, 0.3);
  --color-green: rgb(0, 157, 109);
  --white: rgb(255, 255, 255);

  /* gradient color */
  --gradient: linear-gradient(
    -90deg,
    rgb(49, 185, 120) 0%,
    rgb(26, 183, 157) 100%
  );
}
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
li {
  list-style: none;
}

a,
img,
span,
data,
input,
button,
ion-icon {
  display: block;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  height: auto;
}

input,
button {
  background: none;
  border: none;
  font: inherit;
}

input {
  width: 100%;
}

button {
  cursor: pointer;
}

ion-icon {
  pointer-events: none;
}

address {
  font-style: normal;
}

html {
  font-family: "Poppins", sans-serif;
  font-size: 10px;
  scroll-behavior: smooth;
}

body {
  background-color: var(--white);
  color: rgb(128, 128, 128);
  font-size: 1.6rem;
  line-height: 1.75;
}

/* style: container,  section, shape, has-bg-image*/
.container {
  padding-inline: 15px;
}

.section {
  padding-block: 75px;
}

.shape {
  position: absolute;
  display: none;
}

.has-bg-image {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.h1,
.h2,
.h3 {
  color: var(--color-black-1);
  font-family: "League Spartan", sans-serif;
  line-height: 1;
}

.h1,
.h2 {
  font-weight: 600;
}

.h1 {
  font-size: 4.2rem;
}

.h2 {
  font-size: 3.2rem;
}

.h3 {
  font-size: 2.3rem;
  font-weight: 500;
}

.section-title {
  --color: var(--color-red);
  text-align: center;
}

.section-title .span {
  display: inline-block;
  color: var(--color);
}

.btn {
  background-color: var(--color-green);
  color: var(--white);
  font-family: "League Spartan", sans-serif;
  font-size: 1.8rem;
  display: flex;
  align-items: center;
  gap: 7px;
  max-width: max-content;
  padding: 10px 20px;
  border-radius: 5px;
  overflow: hidden;
}

.has-before,
.has-after {
  position: relative;
  z-index: 1;
}

.has-before::before,
.has-after::after {
  position: absolute;
  content: "";
}

.btn::before {
  inset: 0;
  background-image: var(--gradient);
  z-index: -1;
  border-radius: inherit;
  transform: translateX(-100%);
  transition: 0.5s ease;
}

.btn:is(:hover, :focus)::before {
  transform: translateX(0);
}

.img-holder {
  aspect-ratio: var(--width) / var(--height);
  background-color: rgb(204, 204, 204);
  overflow: hidden;
}

.img-cover {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.section-subtitle {
  font-size: 1.5rem;
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 1px;
  text-align: center;
  margin-block-end: 15px;
}

.section-text {
  font-size: 1.5rem;
  text-align: center;
  margin-block: 15px 25px;
}

.grid-list {
  display: grid;
  gap: 30px;
}

.category-card,
.stats-card {
  background-color: hsla(var(--color), 0.1);
}

/**
* HEADER
*/

.header .btn {
  display: none;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: var(--white);
  padding-block: 12px;
  z-index: 4;
}

.header.active {
  position: fixed;
}

.header .container,
.header-actions,
.navbar .wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
}

.header-action-btn,
.nav-close-btn {
  position: relative;
  color: var(--color-black-1);
  font-size: 24px;
  transition: 0.25s ease;
}

.header-action-btn:is(:hover, :focus) {
  color: var(--color-green);
}

.header-action-btn .btn-badge {
  position: absolute;
  top: -10px;
  right: -10px;
  background-color: var(--color-green);
  color: var(--white);
  font-family: "League Spartan", sans-serif;
  font-size: 1.4rem;
  min-width: 20px;
  height: 20px;
  border-radius: 50%;
}

.navbar {
  position: fixed;
  top: 0;
  left: -320px;
  background-color: var(--white);
  width: 100%;
  max-width: 320px;
  height: 100%;
  z-index: 2;
}

.navbar.active {
  transform: translateX(320px);
}

.navbar .wrapper {
  padding: 15px 20px;
  border-block-end: 1px solid var(--platinum);
}

.nav-close-btn {
  background-color: var(--white);
  padding: 8px;
  border-radius: 50%;
}

.nav-close-btn:is(:hover, :focus) {
  background-color: var(--color-green);
  color: var(--white);
}

.navbar-list {
  padding: 15px 20px;
}

.navbar-item:not(:last-child) {
  border-block-end: 1px solid var(--platinum);
}

.navbar-link {
  padding-block: 8px;
  font-weight: 500;
  transition: 0.25s ease;
}

.navbar-link:is(:hover, :focus) {
  color: var(--color-green);
}

.overlay {
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.8);
  pointer-events: none;
  opacity: 0;
  z-index: 1;
  transition: 0.25s ease;
}

.overlay.active {
  opacity: 1;
  pointer-events: all;
}

/**
* HERO section
*/
.hero .container {
  display: grid;
  gap: 40px;
}

.hero-text {
  color: var(--color-black-1);
  font-size: 1.8rem;
  text-align: center;
  margin-block: 18px 20px;
}

.hero .btn {
  margin-inline: auto;
}

.hero-banner {
  display: grid;
  grid-template-columns: 1fr 0.8fr;
  align-items: flex-start;
  gap: 30px;
}

.hero-banner .img-holder.one {
  border-top-right-radius: 70px;
  border-bottom-left-radius: 110px;
}

.hero-banner .img-holder.two {
  border-top-left-radius: 50px;
  border-bottom-right-radius: 90px;
}
/**
* STATS 
*/

.stats-card {
  text-align: center;
  padding: 25px;
  border-radius: 10px;
}

.stats-card .card-title {
  color: hsl(var(--color));
  font-size: 3.2rem;
  line-height: 1.1;
  
}

.stats-card .card-text {
  color: var(--color-black-1);
  text-transform: uppercase;
}
/**
* CATEGORY
*/

.category .section-subtitle {
  color: var(--color-red);
}

.category .section-title {
  --color: var(--color-green);
}

.category .section-text {
  margin-block-end: 40px;
}

.category-card {
  padding: 50px 30px;
  text-align: center;
  border-radius: 5px;
}

.category-card .card-icon {
  background-color: hsla(var(--color), 0.1);
  width: 80px;
  height: 80px;
  display: grid;
  place-items: center;
  border-radius: 50%;
  margin-inline: auto;
  margin-block-end: 30px;
}

.category-card .card-text {
  color: var(--color-black-1);
  font-size: 1.5rem;
  margin-block: 15px 25px;
}

.category-card .card-badge {
  background-color: hsla(var(--color), 0.1);
  color: hsl(var(--color));
  font-size: 1.5rem;
  font-weight: 500;
  padding: 2px 18px;
  max-width: max-content;
  margin-inline: auto;
  border-radius: 5px;
}

/**
* ABOUT
*/

.about {
  padding-block-start: 0;
  overflow: hidden;
}

.about .container {
  display: grid;
  gap: 30px;
}

.about-banner {
  position: relative;
  z-index: 1;
}

.about-banner .img-holder {
  border-radius: 10px;
}

.about-shape-2 {
  display: block;
  bottom: -100px;
  left: -60px;
  animation: bounce 2.5s infinite;
}

.about :is(.section-subtitle, .section-title, .section-text) {
  text-align: left;
}

.about-item {
  margin-block: 15px;
  display: flex;
  align-items: center;
  gap: 15px;
}

.about-item ion-icon {
  color: var(--color-yellow);
  font-size: 20px;
}

.about-item .span {
  color: var(--color-black-1);
  font-family: "League Spartan", sans-serif;
}

/**
* COURSE
*/

.course {
  background-color: var(--platinum);
}

.course-card {
  position: relative;
  background-color: var(--white);
  border-radius: 5px;
  overflow: hidden;
}

.course-card .img-cover {
  transition: 0.5s ease;
}

.course-card:is(:hover, :focus-within) .img-cover {
  transform: scale(1.1);
}

.course-card :is(.abs-badge, .badge) {
  font-family: "League Spartan", sans-serif;
  border-radius: 3px;
}

.course-card .abs-badge {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: var(--color-yellow);
  color: var(--white);
  display: flex;
  align-items: center;
  gap: 5px;
  line-height: 1;
  padding: 6px 8px;
  padding-block-end: 3px;
}

.course-card .abs-badge ion-icon {
  font-size: 18px;
  margin-block-end: 5px;
}

.course-card .card-content {
  padding: 25px;
}

.course-card .badge {
  max-width: max-content;
  color: var(--color-green);
  line-height: 25px;
  padding-inline: 10px;
}

.course-card .card-title {
  display: -webkit-box;
  line-clamp: 1;
  overflow: hidden;
  margin-block: 15px 8px;
  transition: 0.25s ease;
}

.course-card .card-title:is(:hover, :focus) {
  color: var(--color-green);
}

.course-card :is(.wrapper, .rating-wrapper, .card-meta-list, .card-meta-item) {
  display: flex;
  align-items: center;
}

.course-card .wrapper {
  gap: 10px;
}

.course-card .rating-wrapper {
  gap: 3px;
}

.course-card .rating-wrapper ion-icon {
  color: var(--color-yellow);
}

.course-card .rating-text {
  color: var(--color-black-1);
  font-size: 1.4rem;
  font-weight: 500;
}

.course-card .price {
  color: var(--color-red);
  font-family: "League Spartan", sans-serif;
  font-size: 1.8rem;
  font-weight: 600;
  margin-block: 8px 15px;
}

.course-card .card-meta-list {
  flex-wrap: wrap;
}

.course-card .card-meta-item {
  position: relative;
  gap: 5px;
}

.course-card .card-meta-item:not(:last-child)::after {
  content: "|";
  display: inline-block;
  color: var(--platinum);
  padding-inline: 10px;
}

.course-card .card-meta-item ion-icon {
  color: var(--color-silver);
}

.course-card .card-meta-item .span {
  color: var(--color-black-1);
  font-size: 1.3rem;
}

.course .btn {
  margin-inline: auto;
  margin-block-start: 60px;
}

/**
* BLOG
*/

.blog-card .card-banner {
  border-radius: 10px;
}

.blog-card .card-banner .img-cover {
  transition: 0.5s ease;
}

.blog-card .card-banner::after {
  inset: 0;
  background-color: rgba(0, 0, 0, 0.3);
  opacity: 0;
  transition: 0.25s ease;
}

.blog-card:is(:hover, :focus-within) .card-banner .img-cover {
  transform: scale(1.1);
}

.blog-card:is(:hover, :focus-within) .card-banner::after {
  opacity: 1;
}

.blog-card .card-content {
  position: relative;
  margin-inline: 15px;
  background-color: var(--white);
  padding: 20px;
  border-radius: 10px;
  margin-block-start: -100px;
  z-index: 1;
}

.blog-card .card-btn {
  position: absolute;
  top: -40px;
  right: 30px;
  background-color: var(--color-green);
  color: var(--white);
  font-size: 20px;
  padding: 20px;
  border-radius: 50%;
  transition: 0.25s ease;
  opacity: 0;
}

.blog-card .card-btn:is(:hover, :focus) {
  background-color: var(--color-red);
}

.blog-card:is(:hover, :focus-within) .card-btn {
  opacity: 1;
  transform: translateY(10px);
}

.blog-card :is(.card-meta-item, .card-text, .card-subtitle) {
  font-size: 1.5rem;
}

.blog-card .card-subtitle {
  text-transform: uppercase;
}

.blog-card .card-title {
  margin-block: 10px 15px;
  transition: 0.25s ease;
}

.blog-card .card-title:is(:hover, :focus) {
  color: var(--color-green);
}

.blog-card :is(.card-meta-list, .card-meta-item) {
  display: flex;
}

.blog-card .card-meta-list {
  flex-wrap: wrap;
  gap: 10px 20px;
  margin-block-end: 20px;
}

.blog-card .card-meta-item {
  gap: 10px;
  align-items: center;
  color: var(--color-black-1);
}

.blog-card .card-meta-item ion-icon {
  color: var(--color-green);
  font-size: 18px;
}

/**
* FOOTER
*/

.footer {
  background-repeat: no-repeat;
  background-color: var(--color-black-2);
  font-size: 1.5rem;
}

.footer-top {
  display: grid;
  gap: 30px;
}

.footer-brand-text {
  margin-block: 20px;
}

.footer-brand .wrapper {
  display: flex;
  gap: 5px;
}

.footer-brand .wrapper .span {
  font-weight: 500;
}

.footer-link {
  transition: 0.25s ease;
}

.footer-link:is(:hover, :focus) {
  color: var(--color-green);
}

.footer-list-title {
  color: var(--white);
  font-family: "League Spartan", sans-serif;
  font-size: 2.3rem;
  font-weight: 600;
  margin-block-end: 10px;
}

.footer-list .footer-link {
  padding-block: 5px;
}

.newsletter-form {
  margin-block: 20px 35px;
}

.newsletter-form .input-field {
  background-color: var(--white);
  padding: 12px;
  border-radius: 5px;
  margin-block-end: 20px;
}

.newsletter-form .btn {
  min-width: 100%;
  justify-content: center;
}

.social-list {
  display: flex;
  gap: 25px;
}

.social-link {
  font-size: 20px;
}

.footer-bottom {
  border-block-start: 1px solid var(--color-black-1);
  padding-block: 30px;
}

.copyright {
  text-align: center;
}

.copyright-link {
  color: var(--color-green);
  display: inline-block;
}

/**
* MEDIA QUERIES
*/

/**
 * responsive for large than 575px screen
 */

@media (min-width: 575px) {
  .container {
    max-width: 520px;
    width: 100%;
    margin-inline: auto;
  }

  .grid-list {
    grid-template-columns: 1fr 1fr;
  }

  :is(.course, .blog) .grid-list {
    grid-template-columns: 1fr;
  }

  /**
   * HEADER
   */

  .header .container {
    max-width: unset;
  }

  .header-actions {
    gap: 30px;
  }

  /**
   * HERO
   */

  .hero-banner {
    grid-template-columns: 1fr 0.9fr;
  }

  /**
   * STATS
   */

  .stats-card {
    padding: 40px 30px;
  }

  /**
   * FOOTER
   */

  .footer-brand,
  .footer-list:last-child {
    grid-column: 1 / 3;
  }

  .newsletter-form {
    display: flex;
    align-items: center;
    gap: 10px;
  }

  .newsletter-form .input-field {
    margin-block-end: 0;
  }

  .newsletter-form .btn {
    min-width: max-content;
  }
}

/**
 * responsive for large than 768px screen
 */

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }

  .btn {
    padding: 15px 30px;
  }

  :is(.course, .blog) .grid-list {
    grid-template-columns: 1fr 1fr;
  }

  /**
   * HEADER
   */

  .header .container {
    padding-inline: 30px;
  }

  .header .btn {
    display: flex;
    padding: 10px 30px;
    margin-inline: 20px;
  }

  /**
   * HERO
   */

  .hero {
    padding: 200px;
  }

  .hero .container {
    gap: 50px;
  }

  .hero-text {
    margin-block-end: 30px;
  }

  .hero-banner {
    position: relative;
    z-index: 1;
  }

  .hero-banner .img-holder {
    max-width: max-content;
  }

  .hero-banner .img-holder.one {
    justify-self: flex-end;
  }

  .hero-banner .img-holder.two {
    margin-block-start: 100px;
  }

  .hero-shape-1 {
    display: block;
    position: absolute;
    bottom: -40px;
    left: -10px;
  }

  /**
   * ABOUT
   */

  .about {
    padding-block-start: 50px;
  }

  .about-banner {
    padding: 60px;
    padding-inline-end: 0;
  }

  .about-banner .img-holder {
    max-width: max-content;
    margin-inline: auto;
  }

  .about-shape-1 {
    display: block;
    top: -40px;
    right: -70px;
  }

  /**
   * FOOTER
   */

  .footer-brand,
  .footer-list:last-child {
    grid-column: auto;
  }

  .newsletter-form .btn {
    padding-block: 10px;
  }
}

/**
 * responsive for large than 992px screen
 */

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }

  .grid-list {
    grid-template-columns: repeat(4, 1fr);
  }

  :is(.course, .blog) .grid-list {
    grid-template-columns: repeat(3, 1fr);
  }

  /**
   * HERO
   */

  .hero .container {
    grid-template-columns: 1fr 1fr;
    align-items: center;
  }

  .hero .section-title,
  .hero-text {
    text-align: left;
  }

  .hero .btn {
    margin-inline: 0;
  }

  /**
   * ABOUT
   */

  .about .container {
    grid-template-columns: 1fr 0.6fr;
    align-items: center;
    gap: 60px;
  }

  /**
   * FOOTER
   */

  .footer .grid-list {
    grid-template-columns: 1fr 0.6fr 0.6fr 1.2fr;
  }
}
/**
 * responsive for large than 1200px screen
 */

@media (min-width: 1200px) {
  /**
   * REUSED STYLE
   */

  .container {
    max-width: 1185px;
  }

  .shape {
    display: block;
  }

  .about-content,
  .video-card,
  .blog {
    position: relative;
  }

  /**
   * HEADER
   */

  .header-action-btn:last-child,
  .navbar .wrapper,
  .overlay {
    display: none;
  }

  .header.active {
    transform: translateY(-100%);
    animation: slideIn 0.5s ease forwards;
  }

  @keyframes slideIn {
    0% {
      transform: translateY(-100%);
    }
    100% {
      transform: translateY(0);
    }
  }

  .navbar,
  .navbar.active {
    all: unset;
  }

  .navbar-list {
    display: flex;
    gap: 50px;
    padding: 0;
  }

  .navbar-item:not(:last-child) {
    border-block-end: none;
  }

  .navbar-link {
    color: var(--color-black-1);
    padding-block: 20px;
  }

  .header .btn {
    margin-inline-end: 0;
  }

  /**
   * HERO
   */

  .hero .container {
    gap: 80px;
  }

  .hero-shape-2 {
    top: -80px;
    z-index: -1;
  }

  /**
   * ABOUT
   */

  .about .container {
    gap: 110px;
  }

  .about-banner .img-holder {
    margin-inline: 0;
  }

  .about-shape-3 {
    top: -20px;
    left: -100px;
    z-index: -1;
  }

  .about-content {
    z-index: 1;
  }

  .about-shape-4 {
    top: 30px;
    right: -60px;
    z-index: -1;
  }

  /**
   * BLOG
   */

  .blog-shape {
    top: 0;
    left: 0;
  }
}
